.main-chat
  .main-header
    .main-header__left
      .main-header__left__groupname
        group_neme1
      .main-header__left__memberlist
        Member
    .main-header__right
      =link_to "#", class: "main-header__edit-btn" do
        Edit

