.side-bar
  .side-header
    .side-header__left
      username
    .side-header__right
      =link_to "#", class: "side-header__btn" do
        =icon('fas', 'edit')
        %span<>
      =link_to "#", class: "side-header__btn" do
        =icon('fas', 'cog')
        %span<>

