.side-bar
  .side-header
    .side-header__left
      username
    .side-header__right
      =link_to new_group_path, class: "side-header__btn" do
        =icon('fas', 'edit')
        %span<>
      =link_to "#", class: "side-header__btn" do
        =icon('fas', 'cog')
        %span<>

  .groups
    .groups__name
      group_name1
    .groups__menber
      group_menber1
    .groups__name
      group_name2
    .groups__menber
      group_menber2

